### CSE-221710302060-Shaik Shoaib Aslam

In [16]:
#importing libraries
import pandas as pd
import numpy as np
import re

In [17]:
corpus = [
   'This is the first document.',
     'This document is the second document.',
      'And this is the third(#)  one.',
     'Is this the first document?',
     "The quick brown fox jumped over the lazy dog.",
     "John is a good boy!!!. John watches basketball",
     "We are going to the party:-)",
    "It is very cold(today)",]

## Question 1

### Remove all the punctuations from the corpus

In [18]:
# text cleaning
#function
def cleanText(text):
    text=re.sub('[@_!#$%^&*()<>?/\|}{~:?.-]+',' ',text) # for removing punctuation
    return text

In [19]:
# testing the cleaning function
test='And this is the third(#)  one.'
test=cleanText(test)
test

'And this is the third   one '

In [20]:
df=pd.DataFrame(corpus)
df

                                                0
0                     This is the first document.
1           This document is the second document.
2                  And this is the third(#)  one.
3                     Is this the first document?
4   The quick brown fox jumped over the lazy dog.
5  John is a good boy!!!. John watches basketball
6                    We are going to the party:-)
7                          It is very cold(today)

## Question 2

### Store the sentences

In [21]:
df.iloc[:,0]=df.iloc[:,0].apply(cleanText)
df

                                               0
0                    This is the first document
1          This document is the second document
2                   And this is the third   one
3                    Is this the first document
4  The quick brown fox jumped over the lazy dog
5    John is a good boy  John watches basketball
6                     We are going to the party
7                         It is very cold today

## Question 3

### Store the individual words out of all sentences

In [22]:
cleanCorp=df[0].to_list()
cleanCorp
words=[j.lower() for i in cleanCorp for j in i.split()]

In [23]:
words

['this',
 'is',
 'the',
 'first',
 'document',
 'this',
 'document',
 'is',
 'the',
 'second',
 'document',
 'and',
 'this',
 'is',
 'the',
 'third',
 'one',
 'is',
 'this',
 'the',
 'first',
 'document',
 'the',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog',
 'john',
 'is',
 'a',
 'good',
 'boy',
 'john',
 'watches',
 'basketball',
 'we',
 'are',
 'going',
 'to',
 'the',
 'party',
 'it',
 'is',
 'very',
 'cold',
 'today']

## Question 4

### Accept the following list of words and find the unique words count from the list without using CountVectorizer and print the output as a DataFrame

In [24]:
# finding unique words
Unwords=list(set(list(words)))

In [25]:
len(Unwords)

31

In [26]:
wor=[]
cnt=[]
for w in Unwords:
    wor.append(w)
    cnt.append(words.count(w))

In [27]:
wc=pd.DataFrame(list(zip(wor,cnt)),index=range(0,len(Unwords)),columns=['word','val'])
wc

          word  val
0   basketball    1
1        first    2
2           we    1
3           it    1
4         this    4
5         good    1
6        brown    1
7         lazy    1
8           is    6
9          fox    1
10     watches    1
11         and    1
12       today    1
13        over    1
14         the    7
15          to    1
16         one    1
17      second    1
18    document    4
19         dog    1
20         are    1
21       quick    1
22           a    1
23        john    2
24        very    1
25         boy    1
26       party    1
27       third    1
28       going    1
29        cold    1
30      jumped    1