### CSE-221710302060-Shaik Shoaib Aslam

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.DataFrame({'X1':[7,7,3,1],'X2':[7,4,4,4],'Y':['Bad','Bad','Good','Good']})
df

   X1  X2     Y
0   7   7   Bad
1   7   4   Bad
2   3   4  Good
3   1   4  Good

## Question 1

### If k=1 nearest neighbor, what would be the classification of new paper tissue
    a) Calculate the distance between the query instance(3,7) and all the training samples.
    b) Sort the distance and determine nearest neighbor based on k
    c) Gather the y category of nearest neighbor and that category becomes the predicted class of query instance

In [5]:
# Empty list for calculating distances 
dist=[]
x1=3 # Given data
y1=7
for i in range(df.shape[0]):
    x=df.X1[i]
    y=df.X2[i]
    print(x,y)
    d=np.sqrt((x-x1)**2+(y-y1)**2)
    dist.append(d)

7 7
7 4
3 4
1 4

In [7]:
df['dist'] = dist # Appending distance column to the data frame

In [8]:
df

   X1  X2     Y      dist
0   7   7   Bad  4.000000
1   7   4   Bad  5.000000
2   3   4  Good  3.000000
3   1   4  Good  3.605551

In [11]:
# sorted data frames
sorted_df=df.sort_values(by="dist")
sorted_df

   X1  X2     Y      dist
2   3   4  Good  3.000000
3   1   4  Good  3.605551
0   7   7   Bad  4.000000
1   7   4   Bad  5.000000

In [12]:
sorted_df.iloc[0,:]

X1         3
X2         4
Y       Good
dist       3
Name: 2, dtype: object

#### Observations: Y category of the nearest neighbor (k=1) is "GOOD"

## Question 2

In [14]:
sorted_df.iloc[0:3,:]

   X1  X2     Y      dist
2   3   4  Good  3.000000
3   1   4  Good  3.605551
0   7   7   Bad  4.000000

#### Observations: Categories are = Good,Good,Bad for K = 3 nearest neighbors
    since,Majority is Good
    So, for x = 3, y = 7 it will be Good