### CSE-221710302060-Shaik Shoaib Aslam

In [71]:
# Question 1
    # To Mention that first row of the dataset are not the column name we use "header" parameter
    # We Should pass  "header = None" as a parameter while reading the files

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [77]:
# Question 2
data = pd.read_csv("https://raw.githubusercontent.com/Mounika-Kajjam/SummerInternship/master/data.csv",sep = ";",header = None,parse_dates = [0])
data.head(10)

                    0     1          2           3        4              5
0 2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1 2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2 2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3 2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4 2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America
5 2018-01-01 00:05:42  read  country_6  2458151266   Reddit  North America
6 2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
7 2018-01-01 00:06:15  read  country_6  2458151268  AdWords         Europe
8 2018-01-01 00:07:21  read  country_7  2458151269  AdWords  North America
9 2018-01-01 00:07:29  read  country_5  2458151270   Reddit  North America

In [78]:
res = data.dtypes   # Converted column 0 to datetime format using parse_dates
print(res)

0    datetime64[ns]
1            object
2            object
3             int64
4            object
5            object
dtype: object

In [79]:
# Renaming to given Columns names
df = data.rename(columns = {0 : 'my_datetime', 1: 'event',2: 'country_code',3: 'user_id',4:'source',5:'country' })
df.head(10)

          my_datetime event country_code     user_id   source        country
0 2018-01-01 00:01:01  read    country_7  2458151261      SEO  North America
1 2018-01-01 00:03:20  read    country_7  2458151262      SEO  South America
2 2018-01-01 00:04:01  read    country_7  2458151263  AdWords         Africa
3 2018-01-01 00:04:02  read    country_7  2458151264  AdWords         Europe
4 2018-01-01 00:05:03  read    country_8  2458151265   Reddit  North America
5 2018-01-01 00:05:42  read    country_6  2458151266   Reddit  North America
6 2018-01-01 00:06:06  read    country_2  2458151267   Reddit         Europe
7 2018-01-01 00:06:15  read    country_6  2458151268  AdWords         Europe
8 2018-01-01 00:07:21  read    country_7  2458151269  AdWords  North America
9 2018-01-01 00:07:29  read    country_5  2458151270   Reddit  North America

In [80]:
#How many rows are there in the data?
print("No.of Rows :",df.shape[0])

#How many columns are there?
print("No.of Columns :",df.shape[1])

No.of Rows : 1795
No.of Columns : 6

In [81]:
# What are the column names
df.columns

Index(['my_datetime', 'event', 'country_code', 'user_id', 'source', 'country'], dtype='object')

In [82]:
# What are the Row Labels
df.index.values

array([   0,    1,    2, ..., 1792, 1793, 1794], dtype=int64)

In [83]:
# Observations
    #  The given data set columns consists of data types of one integer ,others are object.Use parse_dates to covert to datetime format 
    # " df.isna().sum() " Using this we can count number of NaN Values
df.isna().sum() # As we can see there are no NaN Values from the data set

my_datetime     0
event           0
country_code    0
user_id         0
source          0
country         0
dtype: int64

In [84]:
# Data type of each column
df.columns.dtype  # returns 'O' : represents Object data type
res = df.dtypes   # To represent data type of each column individually
print(res)

my_datetime     datetime64[ns]
event                   object
country_code            object
user_id                  int64
source                  object
country                 object
dtype: object

In [85]:
# For each data type how many columns are there
df.dtypes.value_counts()

object            4
datetime64[ns]    1
int64             1
dtype: int64

In [86]:
# Describe Function
df.describe()

            user_id
count  1.795000e+03
mean   2.458152e+09
std    5.183162e+02
min    2.458151e+09
25%    2.458152e+09
50%    2.458152e+09
75%    2.458153e+09
max    2.458153e+09

In [87]:
# info function
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   my_datetime   1795 non-null   datetime64[ns]
 1   event         1795 non-null   object
 2   country_code  1795 non-null   object
 3   user_id       1795 non-null   int64
 4   source        1795 non-null   object
 5   country       1795 non-null   object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 84.3+ KB

In [88]:
# Checking for duplicate values from dataset
dup_data = df[df.duplicated()]
dup_data  # This Indicates that there is no duplicate data from the dataset

Empty DataFrame
Columns: [my_datetime, event, country_code, user_id, source, country]
Index: []

In [89]:
#Replace the value “South America” from country column with NaN and fill with mode of the column
rep_data = df.replace({'country' : 'South America'},np.nan)
rep_data.head(10)

          my_datetime event country_code     user_id   source        country
0 2018-01-01 00:01:01  read    country_7  2458151261      SEO  North America
1 2018-01-01 00:03:20  read    country_7  2458151262      SEO            NaN
2 2018-01-01 00:04:01  read    country_7  2458151263  AdWords         Africa
3 2018-01-01 00:04:02  read    country_7  2458151264  AdWords         Europe
4 2018-01-01 00:05:03  read    country_8  2458151265   Reddit  North America
5 2018-01-01 00:05:42  read    country_6  2458151266   Reddit  North America
6 2018-01-01 00:06:06  read    country_2  2458151267   Reddit         Europe
7 2018-01-01 00:06:15  read    country_6  2458151268  AdWords         Europe
8 2018-01-01 00:07:21  read    country_7  2458151269  AdWords  North America
9 2018-01-01 00:07:29  read    country_5  2458151270   Reddit  North America

In [90]:
# Filling the NaN values using mode of that column i.e., Asia
mode_data = rep_data.fillna(rep_data.country.mode().iloc[0])
mode_data.head(10)

          my_datetime event country_code     user_id   source        country
0 2018-01-01 00:01:01  read    country_7  2458151261      SEO  North America
1 2018-01-01 00:03:20  read    country_7  2458151262      SEO           Asia
2 2018-01-01 00:04:01  read    country_7  2458151263  AdWords         Africa
3 2018-01-01 00:04:02  read    country_7  2458151264  AdWords         Europe
4 2018-01-01 00:05:03  read    country_8  2458151265   Reddit  North America
5 2018-01-01 00:05:42  read    country_6  2458151266   Reddit  North America
6 2018-01-01 00:06:06  read    country_2  2458151267   Reddit         Europe
7 2018-01-01 00:06:15  read    country_6  2458151268  AdWords         Europe
8 2018-01-01 00:07:21  read    country_7  2458151269  AdWords  North America
9 2018-01-01 00:07:29  read    country_5  2458151270   Reddit  North America

In [91]:
#count of categories being repeated in the source column
df['source'].value_counts()

Reddit     949
AdWords    500
SEO        346
Name: source, dtype: int64