### CSE-221710302060-Shaik Shoaib Aslam

In [1]:
import pandas as pd

In [117]:
#Question 1
list1 = [int(i) for i in input().split()]
list2 = [int(i) for i in input().split()]
arr = pd.array(list1)
arr1 = pd.array(list2)
#Addition
print('{} + {} = {}'.format(list1,list2,list(arr+arr1)))

2 4 6 8 10
1 3 5 7 9
[2, 4, 6, 8, 10] + [1, 3, 5, 7, 9] = [3, 7, 11, 15, 19]

In [119]:
#Subtraction
print('{} + {} = {}'.format(list1,list2,list(arr-arr1)))

[2, 4, 6, 8, 10] + [1, 3, 5, 7, 9] = [1, 1, 1, 1, 1]

In [120]:
#Multiply
print('{} + {} = {}'.format(list1,list2,list(arr*arr1)))

[2, 4, 6, 8, 10] + [1, 3, 5, 7, 9] = [2, 12, 30, 56, 90]

In [121]:
#Divide
print('{} + {} = {}'.format(list1,list2,list(arr/arr1)))

[2, 4, 6, 8, 10] + [1, 3, 5, 7, 9] = [2.0, 1.3333333333333333, 1.2, 1.1428571428571428, 1.1111111111111112]

In [53]:
#Question 2
data = np.random.uniform(1,21,20)
print(data)
series=pd.Series(data)
df=[series.min(),series.quantile(0.25),series.median(),series.quantile(0.75),series.max()]
df

[16.27902095 14.0688057   8.47010794 19.10880592  5.9498818   1.23855845
 10.82533365  9.1027979   4.34934155 14.44775704  5.33794443  6.41504621
 17.6036168   2.92988616  2.99649103 15.25486078 14.11880468  4.22949492
 15.21918925 10.19211826]

[1.2385584541651875,
 5.090793708100498,
 9.64745808314525,
 14.640615090051604,
 19.108805924771154]

In [116]:
#Question 3
df=pd.Series([1,2,3,4,5])
df1=pd.Series([2,4,6,8,10])
df2=df[~df.isin(df1)]            #~operator negates the condition
df2

0    1
2    3
4    5
dtype: int64

In [86]:
#Question 4
def vowelCount(ser):
    vowels=['a','e','i','o','u']
    count=0
    for i in ser:
        if i in vowels:
            count+=1
    if count>=2:
        return True
    else:
        return False
    
ser=pd.Series(['Red','Green','Orange','Pink','Yellow','White'])
res=ser.map(lambda ser:vowelCount(ser))
print("Original Series:\n{}\n".format(ser))
print("Filtered Series:\n{}".format(ser[res]))

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered Series:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [70]:
#Question 5
s1 = pd.Series(["Anastasia","Dima","Katherine","James","Emily","Michael","Matthew","Laura","Kevin","Jonas"])
s2 = pd.Series([12.5,9.0,16.5,'NaN',9.0,20.0,14.5,"NaN",8.0,19.0])
s3 = pd.Series([1,3,2,3,2,3,1,1,2,1])
s4 = pd.Series(["yes","no","yes","no","no","yes","yes","no","no","yes"])
data = {"Name":s1,"Score":s2,"Attempts":s3,"Qualify":s4}
df2 = pd.DataFrame(data)
df2[df2['Attempts'] > 2]

      Name Score  Attempts Qualify
1     Dima     9         3      no
3    James   NaN         3      no
5  Michael    20         3     yes